<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LOMO</key>
	<array>
		<string>f95b46</string>
		<dict>
			<key>name</key>
			<string>L1</string>
			<key>id</key>
			<string>108</string>
			<key>color</key>
			<string>f16a4b</string>
		</dict>
		<dict>
			<key>name</key>
			<string>L2</string>
			<key>id</key>
			<string>109</string>
			<key>color</key>
			<string>e45559</string>
		</dict>
		<dict>
			<key>name</key>
			<string>L3</string>
			<key>id</key>
			<string>111</string>
			<key>color</key>
			<string>c45f64</string>
		</dict>
		<dict>
			<key>name</key>
			<string>L4</string>
			<key>id</key>
			<string>112</string>
			<key>color</key>
			<string>fb6759</string>
		</dict>
		<dict>
			<key>name</key>
			<string>L5</string>
			<key>id</key>
			<string>115</string>
			<key>color</key>
			<string>e05735</string>
		</dict>
		<dict>
			<key>name</key>
			<string>L6</string>
			<key>id</key>
			<string>120</string>
			<key>color</key>
			<string>ea3d61</string>
		</dict>
		<dict>
			<key>name</key>
			<string>L7</string>
			<key>id</key>
			<string>121</string>
			<key>color</key>
			<string>f3714e</string>
		</dict>
		<dict>
			<key>name</key>
			<string>L8</string>
			<key>id</key>
			<string>123</string>
			<key>color</key>
			<string>fc592d</string>
		</dict>
	</array>
	<key>FILM</key>
	<array>
		<string>f6a211</string>
		<dict>
			<key>name</key>
			<string>F1</string>
			<key>id</key>
			<string>105</string>
			<key>color</key>
			<string>fcb429</string>
		</dict>
		<dict>
			<key>name</key>
			<string>F2</string>
			<key>id</key>
			<string>107</string>
			<key>color</key>
			<string>f3a938</string>
		</dict>
		<dict>
			<key>name</key>
			<string>F4</string>
			<key>id</key>
			<string>116</string>
			<key>color</key>
			<string>f2cd00</string>
		</dict>
		<dict>
			<key>name</key>
			<string>F4</string>
			<key>id</key>
			<string>117</string>
			<key>color</key>
			<string>fbca0d</string>
		</dict>
		<dict>
			<key>name</key>
			<string>F5</string>
			<key>id</key>
			<string>122</string>
			<key>color</key>
			<string>ffb200</string>
		</dict>
		<dict>
			<key>name</key>
			<string>F6</string>
			<key>id</key>
			<string>143</string>
			<key>color</key>
			<string>d5ac44</string>
		</dict>
		<dict>
			<key>name</key>
			<string>F7</string>
			<key>id</key>
			<string>145</string>
			<key>color</key>
			<string>be7308</string>
		</dict>
		<dict>
			<key>name</key>
			<string>F8</string>
			<key>id</key>
			<string>146</string>
			<key>color</key>
			<string>a58a4c</string>
		</dict>
	</array>
	<key>PORTRAIT</key>
	<array>
		<string>72b2ca</string>
		<dict>
			<key>name</key>
			<string>P1</string>
			<key>id</key>
			<string>23</string>
			<key>color</key>
			<string>6dbbaf</string>
		</dict>
		<dict>
			<key>name</key>
			<string>P2</string>
			<key>id</key>
			<string>26</string>
			<key>color</key>
			<string>50d0ff</string>
		</dict>
		<dict>
			<key>name</key>
			<string>P3</string>
			<key>id</key>
			<string>40</string>
			<key>color</key>
			<string>4b94af</string>
		</dict>
		<dict>
			<key>name</key>
			<string>P4</string>
			<key>id</key>
			<string>50</string>
			<key>color</key>
			<string>65c0d3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>P5</string>
			<key>id</key>
			<string>63</string>
			<key>color</key>
			<string>6d92bb</string>
		</dict>
		<dict>
			<key>name</key>
			<string>P6</string>
			<key>id</key>
			<string>83</string>
			<key>color</key>
			<string>62a0ad</string>
		</dict>
		<dict>
			<key>name</key>
			<string>P7</string>
			<key>id</key>
			<string>86</string>
			<key>color</key>
			<string>15b7f2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>P8</string>
			<key>id</key>
			<string>92</string>
			<key>color</key>
			<string>6cbcd9</string>
		</dict>
	</array>
	<key>COLOR</key>
	<array>
		<string>78bb78</string>
		<dict>
			<key>name</key>
			<string>C1</string>
			<key>id</key>
			<string>202</string>
			<key>color</key>
			<string>4a6c49</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C2</string>
			<key>id</key>
			<string>242</string>
			<key>color</key>
			<string>6d8674</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C3</string>
			<key>id</key>
			<string>243</string>
			<key>color</key>
			<string>5d7149</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C4</string>
			<key>id</key>
			<string>251</string>
			<key>color</key>
			<string>708167</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C5</string>
			<key>id</key>
			<string>252</string>
			<key>color</key>
			<string>8da776</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C6</string>
			<key>id</key>
			<string>253</string>
			<key>color</key>
			<string>95ac97</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C7</string>
			<key>id</key>
			<string>254</string>
			<key>color</key>
			<string>5c8777</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C8</string>
			<key>id</key>
			<string>255</string>
			<key>color</key>
			<string>637154</string>
		</dict>
	</array>
	<key>RETRO</key>
	<array>
		<string>847c6e</string>
		<dict>
			<key>name</key>
			<string>R1</string>
			<key>id</key>
			<string>42</string>
			<key>color</key>
			<string>a59287</string>
		</dict>
		<dict>
			<key>name</key>
			<string>R2</string>
			<key>id</key>
			<string>99</string>
			<key>color</key>
			<string>ccb4a1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>R3</string>
			<key>id</key>
			<string>100</string>
			<key>color</key>
			<string>b0ab8f</string>
		</dict>
		<dict>
			<key>name</key>
			<string>R4</string>
			<key>id</key>
			<string>101</string>
			<key>color</key>
			<string>a3a485</string>
		</dict>
		<dict>
			<key>name</key>
			<string>R5</string>
			<key>id</key>
			<string>102</string>
			<key>color</key>
			<string>b0b19c</string>
		</dict>
		<dict>
			<key>name</key>
			<string>R6</string>
			<key>id</key>
			<string>103</string>
			<key>color</key>
			<string>b9af8c</string>
		</dict>
		<dict>
			<key>name</key>
			<string>R7</string>
			<key>id</key>
			<string>110</string>
			<key>color</key>
			<string>b1a38e</string>
		</dict>
		<dict>
			<key>name</key>
			<string>R8</string>
			<key>id</key>
			<string>114</string>
			<key>color</key>
			<string>9f8f71</string>
		</dict>
	</array>
	<key>BW</key>
	<array>
		<string>565656</string>
		<dict>
			<key>name</key>
			<string>B1</string>
			<key>id</key>
			<string>22</string>
			<key>color</key>
			<string>696969</string>
		</dict>
		<dict>
			<key>name</key>
			<string>B2</string>
			<key>id</key>
			<string>78</string>
			<key>color</key>
			<string>4b4b4b</string>
		</dict>
		<dict>
			<key>name</key>
			<string>B3</string>
			<key>id</key>
			<string>80</string>
			<key>color</key>
			<string>313131</string>
		</dict>
		<dict>
			<key>name</key>
			<string>B4</string>
			<key>id</key>
			<string>94</string>
			<key>color</key>
			<string>332e34</string>
		</dict>
		<dict>
			<key>name</key>
			<string>B5</string>
			<key>id</key>
			<string>95</string>
			<key>color</key>
			<string>555154</string>
		</dict>
		<dict>
			<key>name</key>
			<string>B6</string>
			<key>id</key>
			<string>96</string>
			<key>color</key>
			<string>211624</string>
		</dict>
		<dict>
			<key>name</key>
			<string>B7</string>
			<key>id</key>
			<string>97</string>
			<key>color</key>
			<string>3d3a44</string>
		</dict>
		<dict>
			<key>name</key>
			<string>B8</string>
			<key>id</key>
			<string>98</string>
			<key>color</key>
			<string>3d3a44</string>
		</dict>
	</array>
	<key>FilterGrid</key>
	<array>
		<string>226a7f</string>
	</array>
	<key>ORIGIN</key>
	<array>
		<string>667884</string>
	</array>
</dict>
</plist>
