<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LOMO</key>
	<array>
		<string>7bc446</string>
		<dict>
			<key>name</key>
			<string>lomoorigin</string>
			<key>id</key>
			<string>0</string>
			<key>color</key>
			<string>292929</string>
		</dict>
		<dict>
			<key>name</key>
			<string>F1</string>
			<key>id</key>
			<string>108</string>
			<key>color</key>
			<string>95e35c</string>
		</dict>
		<dict>
			<key>name</key>
			<string>F2</string>
			<key>id</key>
			<string>109</string>
			<key>color</key>
			<string>62c27d</string>
		</dict>
		<dict>
			<key>name</key>
			<string>F3</string>
			<key>id</key>
			<string>111</string>
			<key>color</key>
			<string>41a556</string>
		</dict>
		<dict>
			<key>name</key>
			<string>F4</string>
			<key>id</key>
			<string>112</string>
			<key>color</key>
			<string>7dcc48</string>
		</dict>
		<dict>
			<key>name</key>
			<string>F5</string>
			<key>id</key>
			<string>115</string>
			<key>color</key>
			<string>75a93c</string>
		</dict>
		<dict>
			<key>name</key>
			<string>F6</string>
			<key>id</key>
			<string>120</string>
			<key>color</key>
			<string>77d470</string>
		</dict>
		<dict>
			<key>name</key>
			<string>F7</string>
			<key>id</key>
			<string>121</string>
			<key>color</key>
			<string>8ec84f</string>
		</dict>
		<dict>
			<key>name</key>
			<string>F8</string>
			<key>id</key>
			<string>123</string>
			<key>color</key>
			<string>56d08a</string>
		</dict>
	</array>
	<key>FILM</key>
	<array>
		<string>9f6833</string>
		<dict>
			<key>name</key>
			<string>filmorigin</string>
			<key>id</key>
			<string>0</string>
			<key>color</key>
			<string>292929</string>
		</dict>
		<dict>
			<key>name</key>
			<string>B1</string>
			<key>id</key>
			<string>105</string>
			<key>color</key>
			<string>60827b</string>
		</dict>
		<dict>
			<key>name</key>
			<string>B2</string>
			<key>id</key>
			<string>107</string>
			<key>color</key>
			<string>849162</string>
		</dict>
		<dict>
			<key>name</key>
			<string>B3</string>
			<key>id</key>
			<string>116</string>
			<key>color</key>
			<string>3e5d84</string>
		</dict>
		<dict>
			<key>name</key>
			<string>B4</string>
			<key>id</key>
			<string>117</string>
			<key>color</key>
			<string>8e7e4f</string>
		</dict>
		<dict>
			<key>name</key>
			<string>B5</string>
			<key>id</key>
			<string>122</string>
			<key>color</key>
			<string>7e5f75</string>
		</dict>
		<dict>
			<key>name</key>
			<string>B6</string>
			<key>id</key>
			<string>143</string>
			<key>color</key>
			<string>4c7984</string>
		</dict>
		<dict>
			<key>name</key>
			<string>B7</string>
			<key>id</key>
			<string>145</string>
			<key>color</key>
			<string>745c42</string>
		</dict>
		<dict>
			<key>name</key>
			<string>B8</string>
			<key>id</key>
			<string>146</string>
			<key>color</key>
			<string>5d5e5e</string>
		</dict>
	</array>
	<key>PORTRAIT</key>
	<array>
		<string>c9668c</string>
		<dict>
			<key>name</key>
			<string>portraitorigin</string>
			<key>id</key>
			<string>0</string>
			<key>color</key>
			<string>292929</string>
		</dict>
		<dict>
			<key>name</key>
			<string>R1</string>
			<key>id</key>
			<string>23</string>
			<key>color</key>
			<string>e35c9b</string>
		</dict>
		<dict>
			<key>name</key>
			<string>R2</string>
			<key>id</key>
			<string>26</string>
			<key>color</key>
			<string>ff96e0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>R3</string>
			<key>id</key>
			<string>40</string>
			<key>color</key>
			<string>e35c72</string>
		</dict>
		<dict>
			<key>name</key>
			<string>R4</string>
			<key>id</key>
			<string>50</string>
			<key>color</key>
			<string>eda1e3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>R5</string>
			<key>id</key>
			<string>63</string>
			<key>color</key>
			<string>be628d</string>
		</dict>
		<dict>
			<key>name</key>
			<string>R6</string>
			<key>id</key>
			<string>83</string>
			<key>color</key>
			<string>e35cd2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>R7</string>
			<key>id</key>
			<string>86</string>
			<key>color</key>
			<string>faa7cd</string>
		</dict>
		<dict>
			<key>name</key>
			<string>R8</string>
			<key>id</key>
			<string>92</string>
			<key>color</key>
			<string>f67b86</string>
		</dict>
	</array>
	<key>COLOR</key>
	<array>
		<string>2ea0ca</string>
		<dict>
			<key>name</key>
			<string>colororigin</string>
			<key>id</key>
			<string>0</string>
			<key>color</key>
			<string>292929</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C1</string>
			<key>id</key>
			<string>202</string>
			<key>color</key>
			<string>4aa1f2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C2</string>
			<key>id</key>
			<string>242</string>
			<key>color</key>
			<string>287fd9</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C3</string>
			<key>id</key>
			<string>243</string>
			<key>color</key>
			<string>3fd5e7</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C4</string>
			<key>id</key>
			<string>251</string>
			<key>color</key>
			<string>81d0fd</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C5</string>
			<key>id</key>
			<string>252</string>
			<key>color</key>
			<string>23a0ef</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C6</string>
			<key>id</key>
			<string>253</string>
			<key>color</key>
			<string>35b1f8</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C7</string>
			<key>id</key>
			<string>254</string>
			<key>color</key>
			<string>125ea6</string>
		</dict>
		<dict>
			<key>name</key>
			<string>C8</string>
			<key>id</key>
			<string>255</string>
			<key>color</key>
			<string>3d93a6</string>
		</dict>
	</array>
	<key>RETRO</key>
	<array>
		<string>e1602d</string>
		<dict>
			<key>name</key>
			<string>retroorigin</string>
			<key>id</key>
			<string>0</string>
			<key>color</key>
			<string>292929</string>
		</dict>
		<dict>
			<key>name</key>
			<string>W1</string>
			<key>id</key>
			<string>42</string>
			<key>color</key>
			<string>dd683f</string>
		</dict>
		<dict>
			<key>name</key>
			<string>W2</string>
			<key>id</key>
			<string>99</string>
			<key>color</key>
			<string>d48939</string>
		</dict>
		<dict>
			<key>name</key>
			<string>W3</string>
			<key>id</key>
			<string>100</string>
			<key>color</key>
			<string>ddaf3f</string>
		</dict>
		<dict>
			<key>name</key>
			<string>W4</string>
			<key>id</key>
			<string>101</string>
			<key>color</key>
			<string>d7742b</string>
		</dict>
		<dict>
			<key>name</key>
			<string>W5</string>
			<key>id</key>
			<string>102</string>
			<key>color</key>
			<string>ddab5d</string>
		</dict>
		<dict>
			<key>name</key>
			<string>W6</string>
			<key>id</key>
			<string>103</string>
			<key>color</key>
			<string>cb7151</string>
		</dict>
		<dict>
			<key>name</key>
			<string>W7</string>
			<key>id</key>
			<string>110</string>
			<key>color</key>
			<string>e4823a</string>
		</dict>
		<dict>
			<key>name</key>
			<string>W8</string>
			<key>id</key>
			<string>114</string>
			<key>color</key>
			<string>cc5126</string>
		</dict>
	</array>
	<key>BW</key>
	<array>
		<string>6464bc</string>
		<dict>
			<key>name</key>
			<string>bworigin</string>
			<key>id</key>
			<string>0</string>
			<key>color</key>
			<string>292929</string>
		</dict>
		<dict>
			<key>name</key>
			<string>H1</string>
			<key>id</key>
			<string>22</string>
			<key>color</key>
			<string>7563fe</string>
		</dict>
		<dict>
			<key>name</key>
			<string>H2</string>
			<key>id</key>
			<string>78</string>
			<key>color</key>
			<string>a99efc</string>
		</dict>
		<dict>
			<key>name</key>
			<string>H3</string>
			<key>id</key>
			<string>80</string>
			<key>color</key>
			<string>7269bd</string>
		</dict>
		<dict>
			<key>name</key>
			<string>H4</string>
			<key>id</key>
			<string>94</string>
			<key>color</key>
			<string>cac3ff</string>
		</dict>
		<dict>
			<key>name</key>
			<string>H5</string>
			<key>id</key>
			<string>95</string>
			<key>color</key>
			<string>7488ed</string>
		</dict>
		<dict>
			<key>name</key>
			<string>H6</string>
			<key>id</key>
			<string>96</string>
			<key>color</key>
			<string>9388f0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>H7</string>
			<key>id</key>
			<string>97</string>
			<key>color</key>
			<string>556de5</string>
		</dict>
		<dict>
			<key>name</key>
			<string>H8</string>
			<key>id</key>
			<string>98</string>
			<key>color</key>
			<string>5e6aa6</string>
		</dict>
	</array>
</dict>
</plist>
